<form class="auth-form" [formGroup]="signUpForm" (ngSubmit)="signUp()">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Enter your email">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" placeholder="Enter your password">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password confirm</mat-label>
    <input matInput formControlName="passwordConfirm" type="password" placeholder="Enter the password again">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="this.signUpForm.invalid">Sign up</button>
</form>

