<div class="container">
  <header class="header">
    <div class="header__logo">
      <a [routerLink]="['/']">Online store</a>
    </div>

    <div class="header__right-part">
      <div class="header__pages">
        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['/contact']">Contact</a>
      </div>

      <div class="header__cart">
        <a [routerLink]="['/order']"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>

      <div class="header__auth" (click)="openDialog()">
        <div class="header__auth-button signin" *ngIf="!authService.isLoggedIn">
          <h5>Sign in</h5>
        </div>
        <div class="header__auth-button signin" *ngIf="authService.isLoggedIn" (click)="authService.signOut()">
          <h5>Sign out</h5>
        </div>
      </div>

    </div>
  </header>
</div>
