$red: #D62828;
$blue: #003049;
$orange: #F77F00;
$yellow: #FFBE18;
$grey: #777777;
$white: #fff;
$black: #000;
$gray-text: #878787;

p{
  margin: 0;
}

hr{
  border-top: 1px dashed $gray-text;
}

.products-list{
  margin-bottom: 100px;
  width: 100%;
  padding-left: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: start;
  grid-gap: 20px;
}

.item{
  height: 100%;
  color: $gray-text;
  border: 1px solid $gray-text;
  padding: 10px;
  transition: transform 0.1s linear;

  &:hover{
    cursor: pointer;
    transform: scale(1.05);
  }

  .item__container{
    display: flex;
    justify-content: space-between;
  }

  .item__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .item__name{
      margin: 10px 0 10px 0;
      font-weight: 600;
      color: $grey;
    }
  }

  .item__image {
    display: flex;
    align-items: center;
    img{
      max-width: 150px;
    }
  }

  .item__addition {
    margin-top: 10px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    border-top: 1px dashed $grey;

    .addition{
      text-align: center;
      width: 100%;
    }

    .addition:not(:nth-child(1)) {
      border-left: 1px solid $grey;
    }
  }
}

.main-item:nth-child(1){
  grid-row-start: 1;
  grid-row-end: 3;
}

.item__main{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .item__off{
    position: absolute;
  }
  .price-shop{
    padding-bottom: 5px;
    border-bottom: 1px dashed $gray-text;
  }
  .item__image {
    justify-content: center;
    img{
      max-width: 300px;
    }
  }
}

.item__general{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item__off {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: $gray-text;
  border-radius: 50%;
  p{
    font-weight: 300;
    color: $white;
    margin: 0;
  }
  p:nth-child(2){
    font-weight: 600;
  }
}

.item__container:nth-child(2){
  margin-top: 10px;
}

.item__price {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  color: $gray-text;
  .item__real-price {
    font-size: 16px;
    color: $gray-text;
    margin-left: 10px;
    position: relative;
  }
  .item__real-price:before {
    content: "";
    border-bottom: 1px solid $gray-text;
    position: absolute;
    width: 100%;
    height: 50%;
    transform: rotate(12deg);
  }
}
.item__shop{
  font-size: 14px;
  color: $gray-text;
}


.red-item{
  border: 1px solid $red;

  .item__off{
    background-color: $red;
  }
  .item__price{
    color: $red;
  }
}

.orange-item{
  border: 1px solid $orange;

  .item__off{
    background-color: $orange;
  }
  .item__price{
    color: $orange;
  }
}

.yellow-item{
  border: 1px solid $yellow;

  .item__off{
    background-color: $yellow;
  }
  .item__price{
    color: $yellow;
  }
}
