.banner{
  text-align: center;
  background-color: #F1F5F8;
  width: 100%;
  min-height: 150px;
  .banner__title{
    color: #291c15;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 30px;
    padding-top: 50px;
    font-weight: 600;
  }
}

.container{
  max-width: 1230px;
  padding: 0 20px;
	margin: 0 auto;
}

.content{
  display: flex;
  margin: 50px 0 100px 0;
  color: rgb(73, 60, 48);
}
